<tablenav></tablenav>
<h1>Home</h1>

<form>
	<input type="text" ng-model="creds.host" placeholder='Host'></input>
	<input type="text" ng-model="creds.database" placeholder='Database'></input>
	<input type="text" ng-model="creds.user" placeholder='User'></input>
	<input type="text" ng-model="creds.port" placeholder='Port'></input>
	<input type="text" ng-model="creds.password" placeholder='Password'></input>
	<select ng-options="item for item in dialects" ng-model="creds.dialect">
  <option value="" selected>Select a dialect</option>
  </select>
	<button type="submit" ng-click="post()">Save</button>
</form>